apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: library-service
  name: library-service
  namespace: sid-behera88-dev
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      deployment: library-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        deployment: library-service
    spec:
      containers:
      - image: image-registry.openshift-image-registry.svc:5000/sid-behera88-dev/library:latest
        imagePullPolicy: IfNotPresent
        name: library-service
        ports:
        - containerPort: 8778
          protocol: TCP
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        resources: {}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
